
.side-bar {
    margin-top: 2%;
    border: solid #1A659E 5px;
    border-radius: 5px;
    background-color: #469639;
    /* padding: 2%;     */
}

#sidebar {
    margin-top: -95px
}


#back {
    background-image: url("./digital-marketing-meeting.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top left;
  }
